name: Go tests

on:
  workflow_dispatch:
  # push:
  #   branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency: 
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  cross-compile:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner: [macos-latest, windows-latest, ubuntu-slim]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          cache-dependency-path: go.sum
      - name: Build
        run: go build ./...

  test:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          cache-dependency-path: go.sum
      - name: Test
        run: go test -v ./...
